/* Selector{
    Property: value;
} */

h1, h2, {
    color: rgb(0, 110, 255);
    background-color: beige;
}
/* Why it doesnt work? Because it's cascading, it takes the last input as a value
in this case, h3 is preceding h1 and h2
} */
h3 {
    color: rgb(32, 31, 25);
}

p{
    color: aquamarine;
    background-color: beige;
}

figcaption{
    color: brown;
    text-align: center;
    font-size: larger;
}