/* Selector{
    Property: value;
} */

body {
    background-color: #00000010;
    /* background-image: url(/img/bg1.jpeg) */
    /* background-size: cover; */
}

.menu{
    font-family: Dosis;
    text-align: center;
    display: block;   
}

section h1,h2,h3{
    font-family: "Tangerine", Georgia;
    font-size: 200%;
    text-align: center;
}

h3, .media{
    font-family: "Dosis", sans-serif;
    font-weight: bolder;
    /* font-style: Regular; */
    color: red;
}

/* li a{ 
    text-align: center;
    float: left;
    display: inline;
    color: rgb(5, 105, 105);
    padding: 16px;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
}*/

.media{
    text-align: center;
    font-size: 125%;
}

figcaption{
    color: brown;
}

p{
    text-align: center;
    text-align: justify;
}
