#page-top{
    background-color: whitesmoke;
}

.bg-primary{
    background-color: rgba(0, 0, 0, 0.692)!important;
}


@font-face{
    font-family: Abril Fatface;
    src: url('fonts/Abril_Fatface/AbrilFatface-Regular.ttf');
}
@font-face {
    font-family: Acme;
    src: url('fonts/Acme/Acme-Regular.ttf');
}
@font-face{
    font-family: Audiowide;
    src: url('fonts/Audiowide/Audiowide-Regular.ttf');
    font-weight: 900;
}
@font-face {
    font-family: 'Berkshire Swash';
    src: url('fonts/Berkshire_Swash/BerkshireSwash-Regular.ttf');
}
@font-face{
    font-family: 'Bree';
    src: url('fonts/Bree_Serif/BreeSerif-Regular.ttf');
    font-weight: lighter;
}
@font-face {
    font-family: 'Cairo Black';
    src: url('fonts/Cairo/Cairo-Black.ttf');
}
@font-face {
    font-family: 'Cairo Bold';
    src: url('fonts/Cairo/Cairo-Bold.ttf');
    /* font-weight: 100; ,weight ngga bisa diubah, harus dipanggil per font */ 
}
@font-face {
    font-family: Cairo XL;
    src: url('fonts/Cairo/Cairo-ExtraLight.ttf');
}
@font-face {
    font-family: Cairo L;
    src: url('fonts/Cairo/Cairo-Light.ttf');
}
@font-face {
    font-family: Cairo Regular;
    src: url('fonts/Cairo/Cairo-Regular.ttf');
}
@font-face {
    font-family: Cairo SB;
    src: url('fonts/Cairo/Cairo-SemiBold.ttf');
}
@font-face{
    font-family: Cookie;
    src: url('fonts/Cookie/Cookie-Regular.ttf');
}    
@font-face{
    font-family: Cormorant G;
    src: url('fonts/Cormorant_Garamond/CormorantGaramond-Regular.ttf');
}
@font-face {
    font-family: Courgette;
    src: url('fonts/Courgette/Courgette-Regular.ttf');
}
@font-face{
    font-family: 'Crimson Text';
    src: url('fonts/Crimson_Text/CrimsonText-Regular.ttf');
}
@font-face {
    font-family: 'Dancing Script';
    src: url('fonts/Dancing_Script/DancingScript-Regular.ttf');
}
@font-face{
    font-family: 'Domine';
    src: url('fonts/Domine/Domine-Regular.ttf');
}
@font-face {
    font-family: 'Dosis Regular';
    src: url('fonts/Dosis/Dosis-Regular.ttf');
}
@font-face {
    font-family: 'Dosis Medium';
    src: url('fonts/Dosis/Dosis-Medium.ttf');
}
@font-face {
    font-family: 'Dosis SB';
    src: url('fonts/Dosis/Dosis-SemiBold.ttf');
}
@font-face {
    font-family: 'Dosis Light';
    src: url('fonts/Dosis/Dosis-Light.ttf');
}
@font-face {
    font-family: 'Dosis Bold';
    src: url('fonts/Dosis/Dosis-Bold.ttf');
}
@font-face{
    font-family: 'EB Garamond';
    src: url('fonts/EB_Garamond/EBGaramond-Regular.ttf');
}
@font-face{
    font-family: 'EB Medium';
    src: url('fonts/EB_Garamond/EBGaramond-Medium.ttf');
}
@font-face{
    font-family: 'Exo2 Regular';
    src: url('fonts/Exo_2/Exo2-Regular.ttf');
}
@font-face{
    font-family: 'Exo2 Black';
    src: url('fonts/Exo_2/Exo2-Black.ttf');
}
@font-face{
    font-family: 'Exo2 Bold';
    src: url('fonts/Exo_2/Exo2-Bold.ttf');
}
@font-face{
    font-family: 'Exo2 Light';
    src: url('fonts/Exo_2/Exo2-Light.ttf');
}
@font-face{
    font-family: 'Exo2 Medium';
    src: url('fonts/Exo_2/Exo2-Medium.ttf');
}
@font-face {
    font-family: 'Fjalla One';
    src: url('fonts/Fjalla_One/FjallaOne-Regular.ttf');
}
@font-face {
    font-family: 'Gloria H';
    src: url('fonts/Gloria_Hallelujah/GloriaHallelujah.ttf');
}@font-face {
    font-family: 'Great Vibes';
    src: url('fonts/Great_Vibes/GreatVibes-Regular.ttf');
}@font-face {
    font-family: 'Indie Flower';
    src: url('fonts/Indie_Flower/IndieFlower.ttf');
}@font-face {
    font-family: 'Josefin Sans';
    src: url('fonts/Josefin_Sans/JosefinSans-Regular.ttf');
}@font-face {
    font-family: 'Jura Regular';
    src: url('fonts/Jura/Jura-Regular.ttf');
}
@font-face {
    font-family: 'Jura SB';
    src: url('fonts/Jura/Jura-SemiBold.ttf');
}
@font-face {
    font-family: 'Jura Medium';
    src: url('fonts/Jura/Jura-Medium.ttf');
}
@font-face {
    font-family: 'Jura Light';
    src: url('fonts/Jura/Jura-Light.ttf');
}
@font-face {
    font-family: 'Kaushan Script';
    src: url('fonts/Kaushan_Script/KaushanScript-Regular.ttf');
}
@font-face {
    font-family: 'Libre Basker';
    src: url('fonts/Libre_Baskerville/LibreBaskerville-Regular.ttf');
}@font-face {
    font-family: 'Lobster Regular';
    src: url('fonts/Lobster/Lobster-Regular.ttf');
}@font-face {
    font-family: 'Lobster Two';
    src: url('fonts/Lobster_Two/LobsterTwo-Regular.ttf');
}@font-face {
    font-family: 'Monoton';
    src: url('fonts/Monoton/Monoton-Regular.ttf');
}@font-face {
    font-family: 'Neuton';
    src: url('fonts/Neuton/Neuton-Regular.ttf');
}@font-face {
    font-family: 'Old Standard';
    src: url('fonts/Old_Standard_TT/OldStandard-Regular.ttf');
}@font-face {
    font-family: 'Orbitron';
    src: url('fonts/Orbitron/Orbitron-Regular.ttf');
}@font-face {
    font-family: 'Pacifico';
    src: url('fonts/Pacifico/Pacifico-Regular.ttf');
}@font-face {
    font-family: 'Philosopher';
    src: url('fonts/Philosopher/Philosopher-Regular.ttf');
}@font-face {
    font-family: 'Play';
    src: url('fonts/Play/Play-Regular.ttf');
}@font-face {
    font-family: 'Play Fair Display';
    src: url('fonts//Playfair_Display/PlayfairDisplay-Regular.ttf');
}@font-face {
    font-family: 'Poiret One';
    src: url('fonts/Poiret_One/PoiretOne-Regular.ttf');
}@font-face {
    font-family: 'PT Sans';
    src: url('fonts/PT_Sans/PT_Sans-Web-Regular.ttf');
}@font-face {
    font-family: 'PT Sans Narrow';
    src: url('fonts/PT_Sans_Narrow/PT_Sans-Narrow-Web-Regular.ttf');
}@font-face {
    font-family: 'Quicksand';
    src: url('fonts/Quicksand/Quicksand-Regular.ttf');
}@font-face {
    font-family: 'Rajdhani';
    src: url('fonts/Rajdhani/Rajdhani-Regular.ttf');
}@font-face {
    font-family: 'Raleway';
    src: url('fonts/Raleway/Raleway-Regular.ttf');
}@font-face {
    font-family: 'Righteous';
    src: url('fonts/Righteous/Righteous-Regular.ttf');
}@font-face {
    font-family: 'Rokkitt';
    src: url('fonts/Rokkitt/Rokkitt-Regular.ttf');
}@font-face {
    font-family: 'Satisfy';
    src: url('fonts/Satisfy/Satisfy-Regular.ttf');
}@font-face {
    font-family: 'Shadows_Into_Light';
    src: url('fonts/Shadows_Into_Light/ShadowsIntoLight.ttf');
}@font-face {
    font-family: 'Shrikhand';
    src: url('fonts/Shrikhand/Shrikhand-Regular.ttf');
}@font-face {
    font-family: 'Titillium';
    src: url('fonts/Titillium_Web/TitilliumWeb-Regular.ttf');
}@font-face {
    font-family: 'Vidaloka';
    src: url('fonts/Vidaloka/Vidaloka-Regular.ttf');
}@font-face {
    font-family: 'Vollkorn';
    src: url('fonts/Vollkorn/Vollkorn-Regular.ttf');
}@font-face {
    font-family: 'VT323';
    src: url('fonts/VT323/VT323-Regular.ttf');
}@font-face {
    font-family: 'Yanone_Kaffeesatz';
    src: url('fonts/Yanone_Kaffeesatz/YanoneKaffeesatz-Regular.ttf');
}

/* p{
    font-weight: 100;
} */

h1, h3{
    margin-left: 10px;
    margin-bottom: 0;
}

h1{
    margin-top: 30px;
}

footer{
    text-align: center;
}